.section {
    border: 1px dotted green;
    box-sizing: border-box;
}

.section > .skills__container > *,
.section > .hobbies__container > * {
    border: 1px dotted blue;
    box-sizing: border-box;
}