.section.formcontato {
    --gap: 1rem;
    --input-height: 5.6rem;
}

.formcontato__container {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
}

.formcontato--esquerda {
    display: none;
}

.formcontato__form {
    align-items: self-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontato__form > * {
    margin: 1.6rem 0;
}

.formcontato__subtext {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.878rem;
    margin: 0 0 0.5rem 0;
    text-align: left;
}

/* Contenedor del formulario */
.formcontato__text {
    border: 1px dotted transparent;
    box-sizing: border-box;
}

@media ( min-width: 992px ) {
    .formcontato__container {
        align-items: stretch;
        flex-direction: row;
        gap: var( --gap );
        justify-content: flex-start;
    }
    .formcontato--esquerda {
        display: flex;
    }
    .formcontato__img {
        object-fit: cover;
    }
    .formcontato__title {
        font-size: 3.2rem;
        line-height: 3.757rem;
        margin-top: 0;
        text-align: left;
    }
    .formcontato__text {
        flex: 1;
    }
    .formcontato__form .formcontato__botao {
        margin: 1.6rem 0 0 0;
    }
}