.skills__line,
.hobbies__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills__box,
.hobbies__box {
    flex: 1 0 50%;
}
.skills__box ul,
.hobbies__box ul {
    list-style: none;
}