.experience__img {
    --margin: 1.6rem; 
    margin: var( --margin );
    width: calc( 100% - ( var( --margin ) * 2 ) );
}

.experiencia__botao--repo {
    border: 2px solid var( --BleuDeFrance );
    padding: 1.2rem 1.6rem;
    color: var( --BleuDeFrance );
}

.experience__botao--demo {
    border: 2px solid var( --BleuDeFrance );
    padding: 1.2rem 1.6rem;
    background-color: var( --BleuDeFrance );
    color: var( --White );
}

.experience__info {
    margin: .6rem 1.6rem;
    text-align: left;
}

.experience__info {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.878rem;
}

.experience__text {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.644rem;
}

