.menu__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 3.2rem;
}

.menu__header {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.menu__title {
    font-size: 1.6rem;
    line-height: 1.878rem;
}

.menu__nav {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
}

.menu__list {
    display: none;
}

.menu__contact {
    list-style: none;
}

@media ( min-width: 576px ) {
    .menu__list__item__contato a {
        font-weight: 700;
    }
}

@media ( min-width: 992px ) {
    .menu__list {
        display: flex;
        gap: 3rem;
        list-style: none;
    }
    .menu__list__item:last-child {
        display: none;
    }
}