.section__title {
    color: var( --OuterSpace );
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.583rem;
}

.section:nth-child( even ) {
    background-color: var( --Platinum );
}
.section:nth-child( odd ) {
    background-color: var( --AliceBlue );
}