*,
*::before,
*::after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {   
    font-size: var( --overall-font-size );
    max-width: 1400px; 
    min-width: 320px;   
}

body {
    font-family: var( --Raleway );
    font-size: 1.4rem;
    text-align: center;
}

img,
video,
iframe {
    block-size: auto;
    max-inline-size: 100%;
}